{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Upload {% endblock %}

{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Text Mining</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">Final Project</li>
                        </ol>

                        <div class="row align-items-center">
                            <h2 class="my-4">Add a new image to analyze</h2>
                              <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <input type="file" name="upload" accept="image/*">
                                    <br>
                                    <button class="btn btn-dark my-4" type="submit">Submit</button>
                              </form>
                        </div>

                    </div>
                </main>
{% endblock content %}