{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Upload {% endblock %}

{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Text Mining</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">Final Project</li>
                        </ol>

                        <div class="row align-items-center">
                            <h2 class="my-4">Add a new image to analyze</h2>
                              <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                  <div class="row">

                                      <div class="col-5">
                                          <label class="form-label" for="customFile">Add first chest X-Ray image</label>

                                          {{ form.upload1 }}

                                      </div>

                                      <div class="col-5">
                                          <label class="form-label" for="customFile">Add second chest X-Ray image</label>
                                          {{ form.upload2 }}
                                      </div>
                                  </div>

                                  <button class="btn btn-dark mt-3" type="submit">Submit</button>



                                  <div class="row">
                                      <h2 class="my-4">Results</h2>
                                  {% if caption %}
                                      <table class="table table-bordered">
                                              <tr>
                                                <th>True Caption</th>
                                                <th>Predicted Caption</th>
                                              </tr>
                                              <tr>
                                                <td>{{ true_caption }}</td>
                                                <td>{{ caption }}</td>
                                              </tr>
                                        </table>
                                  {% endif %}
                                      <div class="col-6">
                                          {% if image_1_str %}
                                              <img class="rounded mx-auto d-block" src="data:image/webp;base64,{{ image_1_str }}">
                                          {% endif %}
                                      </div>
                                      <div class="col-6">
                                          {% if image_2_str %}
                                              <img class="rounded mx-auto d-block" src="data:image/webp;base64,{{ image_2_str }}">
                                          {% endif %}
                                      </div>
                                  </div>

                              </form>
                        </div>

                    </div>
                </main>
{% endblock content %}